/* You can add global styles to this file, and also import other style files */
body {
    background-color: black;
}

@font-face {
    font-family: myFont;
    src: url(assets/fonts/AdviceQuotes-OVwyd.otf) format("opentype");
  }